# Node modules directory
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables file
.env

# Vercel config file
.vercel/

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# IDE and editor folders
.vscode/
.idea/

# Build directories
build/
dist/

# Coverage folder
coverage/

# Dependency directories
bower_components/

# Optional lock files if you use yarn
yarn.lock

# Optional lock files if you use npm
package-lock.json
